.App {
   position: relative;
}

.app__flex {
   display: flex;
   justify-content: center;
   align-items: center;
}

.app__app-main-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   padding: 0 auto;
}

.app__app-main-grid {
   background-color: var(--secondary-white);
   width: 935px;
   display: flex;
   justify-content: center;
   padding-top: 15px;

   @media screen and(max-width:450px) {
      padding-top: 0;
   }
}
